body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
 	margin: -1px;
 	border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	font: inherit;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;

	transition-property: background-color;
	transition-duration: 0.3s;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd
}

.brown-button {
	font: inherit;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
	transition-property: background-color;
	transition-duration: 0.3s;
}

.brown-button:hover,
.brown-button:focus {
	background-color: #604e43;
}

.brown-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}


.button-big {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.header-navigation {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000;

	background-color: #fff;
}

.header-menu {
	list-style: none;
}

.header-menu a {
	color: #000;
	transition-property: color;
	transition-duration: 0.2s;
}

.header-menu a:hover,
.header-menu a:focus {
	color: #81b3d2;
}

.header-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.welcome {
	text-align: center;

	background-color: transparent;
	background-image: url("../img/images/index-welcome-bg.jpg");
	background-position: center -56px;
	background-repeat: no-repeat;
}

.about {
	background-color: #fff;
}

.about >  p:first-of-type {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000;
}

.about > p:nth-of-type(2) {
	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.find-hotel {
	background-color: #fff;
}

.find-hotel > p:first-of-type {
	font-size: 30px;
  font-weight: 700;
	line-height: 36px;
	text-align: center; 
  color: #000;
}

.find-hotel > p:nth-of-type(2) {
	font-size: 14px;
  font-weight: 400;
	line-height: 24px;
	text-align: center; 
  color: #333;
}

.searchform-title {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.searchform input {
	font: inherit;
	font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  text-transform: inherit;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	border: 0;
}

.searchform input::-webkit-input-placeholder {
  color: #000;
} 
.searchform input::-moz-placeholder {
  color: #000;
}

.searchform input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

.searchform input:focus {
	background-color: #fff;
	border-color: #e5e5e5;
}

.searchform label {
	font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.accomodation {
	background-color: #fff;
}

.accommodation-options ul {
	list-style: none;
}

.hotel-info h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
  color: #000;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333;
}

.hotel-rating span:first-of-type {
	font-size: 0;
}

.hotel-rating span:nth-of-type(2) {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666;

	background-color: #f2f2f2;
}

.footer {
	background-color: #fff;
}

.footer > p:first-of-type {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.footer-social {
	list-style: none;
}

.footer-social li {
	display: inline-block;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;
	
	font-size: 0;

	background-position: center center;
	background-repeat: no-repeat;
}

.social-button-twitter {
	background-image: url("../img/images/icon-twitter.png");
}

.social-button-twitter:active {
	background-image: url("../img/images/icon-twitter-active.png");
}

.social-button-facebook {
	background-image: url("../img/images/icon-facebook.png");
}

.social-button-facebook:active {
	background-image: url("../img/images/icon-facebook-active.png");
}

.social-button-youtube {
	background-image: url("../img/images/icon-youtube.png");
}

.social-button-youtube:active {
	background-image: url("../img/images/icon-youtube-active.png");
}

.footer-copyright {
	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}

.footer-copyright a {
	display: inline-block;
	width: 115px;
	height: 41px;

	font-size: 0;

	background-color: transparent;
	background-image: url("../img/images/htmlacademy-logo.png");
	background-position: 0 0;
	background-repeat: no-repeat;

	transition-property: background-image;
	transition-duration: 0.2s;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	background-image: url("../img/images/htmlacademy-logo-hover.png");
}

.footer-copyright a:active {
	background-image: url("../img/images/htmlacademy-logo-active.png");	
}
















