body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

p {
	margin: 0;
}

.content-box {
	box-sizing: content-box;
}

.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;

	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
 	margin: -1px;
 	border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-blue {
	font: inherit;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;

	transition-property: background-color;
	transition-duration: 0.3s;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd
}

.button-brown {
	font: inherit;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;

	transition-property: background-color;
	transition-duration: 0.3s;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.header-navigation {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000;

	background-color: #fff;
}

.header-logo {
	position: absolute;
	left: 529px;
	top: 0;
}

.header-menu {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.header-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 239px;
	height: 56px;

	/*временно для сетки*/
	outline: 1px solid green;
}

.header-menu li:nth-of-type(2) {
	margin-right: auto;
}

.header-menu a {
	color: #000;
	transition-property: color;
	transition-duration: 0.2s;
}

.header-menu a:hover,
.header-menu a:focus {
	color: #81b3d2;
}

.header-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 509px;

	background-color: transparent;
	background-image: url("../img/images/index-welcome-bg.jpg");
	background-position: center -56px;
	background-repeat: no-repeat;

	/*временно для сетки*/
	outline: 1px solid green;
}

.welcome-logo {
	width: 459px;
	height: 353px;
	margin-top: 76px;

	/*временно для сетки*/
	outline: 1px solid red;
}

.welcome-mask {
	width: 1200px;
	height: 59px;
	margin-top: auto;

	background-color: transparent;
	background-image: url("../img/svg/welcome-section-mask.svg");
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;

	/* временно для сетки */
	outline: 1px solid red;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #fff;
	/*временно для сетки*/
	outline: 1px solid green;
}

.about-title {
	margin: 0;
	margin-top: 61px;
	margin-bottom: 38px;

	font-size: 21px;
  font-weight: 700;
	line-height: 26px;
	text-align: center;
  color: #000;
}

.about-description {
	margin: 0;
	margin-bottom: 56px;

	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333;
}

.find-hotel {
	display: flex;
	flex-direction: column;
	align-items: center;


	background-color: #fff;

	/* временно для сетки */
	outline: 1px solid red;
}

.find-hotel-title {
	margin: 0;
	margin-top: 57px;
	margin-bottom: 38px;

	font-size: 30px;
  font-weight: 700;
	line-height: 36px;
  color: #000;
}

.find-hotel-description {
	margin: 0;
	margin-bottom: 52px;

	font-size: 14px;
  font-weight: 400;
	line-height: 24px;
  color: #333;
}

.searchform-title {
	font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.searchform {
	width: 568px;

	background-color: #fff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.searchform-wrapper {
	width: 458px;
	margin: 55px auto;

}

.searchform input {
	font: inherit;
	font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  text-transform: inherit;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	border: 0;
}

.searchform input::-webkit-input-placeholder {
  color: #000;
} 
.searchform input::-moz-placeholder {
  color: #000;
}

.searchform input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

.searchform input:focus {
	background-color: #fff;
	border-color: #e5e5e5;
}

.searchform label {
	font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.accomodation {
	background-color: #fff;
}

.accomodation-wrapper {
	width: 1056px;
	margin: 0 auto;
}

.accommodation-options {
	padding: 0;
	margin: 0;

	list-style: none;
}

.accomodation-item {
	display: flex;
}

.hotel-image {
	width: 135px;
	order: -1;

	/* временно для сетки */
	outline: 1px solid red;
}

.hotel-info {
	width: 258px;
	margin-left: 30px;
	/* временно для сетки */
	outline: 1px solid green;
}

.hotel-info p {
	margin: 0;
}

.hotel-rating {
	width: 110px;
	margin-left: auto;
	/* временно для сетки */
	outline: 1px solid green;
}

.hotel-name {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
  color: #000;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333;
}

.hotel-rating span:first-of-type {
	font-size: 0;
}

.hotel-rating span:nth-of-type(2) {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666;

	background-color: #f2f2f2;
}

.footer {
	display: flex;
	align-items: center;
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: #fff;

	/* временно для сетки */
	outline: 1px solid blue;
	}

.footer-hashtag {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 268px;
	height: 48px;

	margin: 0;


	font-size: 21px;
  font-weight: 700;
	line-height: 26px;
	text-align: right;
	color: #000;
	
	/* временно для сетки */
	outline: 1px solid grey;
}

.footer-social {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;

	/* временно для сетки */
	outline: 1px solid pink;
}

.footer-social li:first-child {
	margin-left: 256px;
}

.footer-social li {
	margin-right: 6px;
}

.footer-social li:last-child {
	margin-right: 0;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;
	
	font-size: 0;

	background-position: center center;
	background-repeat: no-repeat;
}

.social-button-twitter {
	background-image: url("../img/images/icon-twitter.png");
}

.social-button-twitter:active {
	background-image: url("../img/images/icon-twitter-active.png");
}

.social-button-facebook {
	background-image: url("../img/images/icon-facebook.png");
}

.social-button-facebook:active {
	background-image: url("../img/images/icon-facebook-active.png");
}

.social-button-youtube {
	background-image: url("../img/images/icon-youtube.png");
}

.social-button-youtube:active {
	background-image: url("../img/images/icon-youtube-active.png");
}

.footer-copyright {
	display: flex;
	width: 197px;
	height: 41px;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	margin-left: 228px;

	font-size: 14px;
  font-weight: 400;
  line-height: 26px;
	color: #000;
	
	/* временно для сетки */
	outline: 1px solid grey;
}

.footer-copyright a {
	width: 115px;
	height: 41px;

	font-size: 0;

	background-color: transparent;
	background-image: url("../img/images/htmlacademy-logo.png");
	background-position: 0 0;
	background-repeat: no-repeat;

	transition-property: background-image;
	transition-duration: 0.3s;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	background-image: url("../img/images/htmlacademy-logo-hover.png");
}

.footer-copyright a:active {
	background-image: url("../img/images/htmlacademy-logo-active.png");	
}
















