body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
 	margin: -1px;
 	border: 0;
  	padding: 0;

  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.button {
	font: inherit;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd
}

.button-big {
	font-size: 21px;
	font-weight: bold;
	line-height: : 26px;
}

.main-navigation {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000;

	background-color: #fff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation a {
	color: #000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.welcome-section {
	text-align: center;

	background-color: transparent;
	background-image: url("../img/images/index-welcome-bg.jpg");
	background-position: center -56px;
	background-repeat: no-repeat;
}

.info-section {
	background-color: #fff;
}

.info-section p:first-of-type {
	font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000;
}

.info-section p:nth-of-type(2) {
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333;
}

.index-find-hotel-section {
	background-color: #fff;
}

.index-find-hotel-section > a {
	font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;

	color: #fff;

	background-color: #766357;
}

.index-find-hotel-section > a:hover,
.index-find-hotel-section > a:focus {
	background-color: #604e43;
}

.index-find-hotel-section > a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.index-find-hotel-section > p:first-of-type {
	font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000;
}

.index-find-hotel-section > p:nth-of-type(2) {
	font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
}

.index-find-hotel-section > p {
	text-align: center;
}

.index-form input {
	font: inherit;
	font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    text-transform: inherit;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	border: 0;
}

.index-form input[type="text"]::-webkit-input-placeholder {
    color: #000;
} 
.index-form input[type="text"]::-moz-placeholder {
    color: #000;
}

.index-form input:hover {
	background-color: #ebebeb;
	border-color: #f2f2f2;
}

.index-form input:focus {
	background-color: #fff;
	border-color: #e5e5e5;
}

.index-form label {
	font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
}

.site-footer {
	background-color: #fff;
}

.site-footer ul {
	list-style: none;
}

.site-footer > p:first-of-type {
	font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #000;
}

.site-footer li {
	display: inline-block;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;

	background-position: center center;
	background-repeat: no-repeat;
}

.social-button-twitter {
	background-image: url("../img/images/icon-twitter.png");
}

.social-button-twitter:active {
	background-image: url("../img/images/icon-twitter-active.png");
}

.social-button-facebook {
	background-image: url("../img/images/icon-facebook.png");
}

.social-button-facebook:active {
	background-image: url("../img/images/icon-facebook-active.png");
}

.social-button-youtube {
	background-image: url("../img/images/icon-youtube.png");
}

.social-button-youtube:active {
	background-image: url("../img/images/icon-youtube-active.png");
}

.footer-copyright {
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}
